doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../source/css/atyle.css")
        link(rel="stylesheet", href="../source/css/media.css")
        title My Team 
    body 
    //- ------///HEADER  QISMI BOSHLANISHI========= 
    header.header 
        .header__container.container 
            a.logo(href="#")
                img(src="../source/images/logo.svg", alt="logo")
            nav 
                ul.nav__list 
                    li.nav__list__item
                        a(href="/") home
                    li.nav__list__item
                        a(href="./about/index.html") about
                    li.nav__list__item
                        a(href="./contact/index.html") contact
            .buttons
                button contact us
                
            .menu
                img(src="./source/images/menu.png", alt="")

    //-  ------///HEADER QISMI TUGASHI =========

    //- ------///MAIN  QISMI BOSHLANISHI=========                            
    main.main 
        .menu__page 
            ul.nav__list 
                li.nav__list__item
                    a(href="/") home
                li.nav__list__item
                    a(href="./about/index.html") about
                li.nav__list__item
                    a(href="./contact/index.html") contact

        section.section     
            .section__container.container 
                .heading 
                    h2 Find the br best
                        span   talent
                .heading__text 
                    p Finding the right people and building high performing teams can be hard. Most companies aren’t tapping into the abundance of global talent. We’re about to change that.   
        section.section__page2
            .inner__container.container 
                .heading 
                    h2 Build manage distributed teams like no one else.
                .box__container 
                    .box 
                        img(src="../source/images/user1.png", alt="")
                        .box__inner 
                            span Experienced Individuals
                            p Our network is made up of highly experienced professionals who are passionate about what they do.
                    .box 
                        img(src="../source/images/user2.png", alt="")
                        .box__inner 
                            span Experienced Individuals
                            p Our network is made up of highly experienced professionals who are passionate about what they do.
                    .box 
                        img(src="../source/images/user3.png", alt="")
                        .box__inner 
                            span Experienced Individuals
                            p Our network is made up of highly experienced professionals who are passionate about what they do. 
        section.section__manage3  
            .inner__container.container 
                .heading 
                    h2 Delivering real results for top companies. Some of our success stories.
                .box__container 
                    .box
                        .box__inner 
                            <i class='bx bxs-quote-single-left'></i>
                            p “We needed to automate our entire onboarding process. The team came in and built out the whole journey. Since going live, user retention has gone through the roof!”
                            .text__user     
                                h3 Kady Baker
                                i Product Manager at Bookmark 
                        img(src="../source/images/oval1.png", alt="")
                    .box 
                        .box__inner 
                            <i class='bx bxs-quote-single-left'></i>
                            p “We needed to automate our entire onboarding process. The team came in and built out the whole journey. Since going live, user retention has gone through the roof!”
                            .text__user     
                                h3 Aiysha Reese
                                i Founder of Manage 
                        img(src="../source/images/oval2.png", alt="")
                    .box
                        .box__inner 
                            <i class='bx bxs-quote-single-left'></i>
                            p “We needed to automate our entire onboarding process. The team came in and built out the whole journey. Since going live, user retention has gone through the roof!”
                            .text__user     
                                h3 Arthur Clarke
                                i Co-founder of MyPhysio 
                        img(src="../source/images/oval3.png", alt="")


        section.section__footer 
            .section__content.container 
                p Ready to get started?
                button.btn contact us 
    //- ------///MAIN  QISMI TUGASHI =========  

    //- ------///FOOTER  QISMI BOSHLANISHI=========
    //- ------///FOOTER QISMI TUGASHI =========              
    footer.footer
        .footer__container.container 
            .box__container 
                .box 
                    a.logo(href="#")
                        img(src="../source/images/logo.svg", alt="logo")
                    nav 
                        ul.nav__list 
                            li.nav__list__item
                                a(href="#") home
                            li.nav__list__item
                                a(href="/about page/index.html page/index.html") about
                .box 
                    nav 
                        ul.nav__list 
                            li.nav__list__item
                                a(href="#") 987  Hillcrest 
                            li.nav__list__item
                                a(href="#") LaneIrvine, CA
                            li.nav__list__item
                                a(href="#") California 92714
                            li.nav__list__item
                                a(href="#") Call Us : 949-833-7432
                .box 
                    nav 
                        ul.nav__list.footer__logo
                            li.nav__list__item
                                a(href="#") 
                                    img(src="../source/images/icon1.svg", alt="") 
                                a(href="#")
                                    img(src="../source/images/icon2.svg", alt="")
                                a(href="#")
                                    img(src="../source/images/icon3.svg", alt="")        
                    p Copyright 2020. All Rights Reserved