doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About page
        link(rel="stylesheet", href="/source/css/atyle.css")
        link(rel="stylesheet", href="style.css")
    body 
        header.header 
            .header__container.container 
                a.logo(href="#")
                    img(src="../source/images/logo.svg", alt="logo")
                nav 
                    ul.nav__list 
                        li.nav__list__item
                            a(href="../index.html") home
                        li.nav__list__item
                            a(href="#") about
                        li.nav__list__item
                            a(href="../contact/index.html") contact
                .buttons
                    button contact us             
        main.main 
            section.section     
                .section__container.container 
                    .heading 
                        h2 About
                    .heading__text
                        p Finding the right people and building high performing teams can be hard. Most companies aren’t tapping into the abundance of global talent. We’re about to change that.   
            section.section.directors__section.container
                .directors__container
                    h1.diroctrs__title Meet the directors
                    .directors__box 
                        img(src="./imgs/Oval (1).png", alt="")
                        p Nikita Marks
                        p Founder & CEO
                    .directors__box 
                        img(src="./imgs/Oval (2).png", alt="")
                        p Nikita Marks
                        p Founder & CEO
                    .directors__box 
                        img(src="./imgs/Oval (3).png", alt="")
                        p Nikita Marks
                        p Founder & CEO
                    .directors__box 
                        img(src="./imgs/Oval (4).png", alt="")
                        p Nikita Marks
                        p Founder & CEO
                    .directors__box 
                        img(src="./imgs/Oval.png", alt="")
                        p Nikita Marks
                        p Founder & CEO
                    .directors__box 
                        img(src="", alt="")
                        p Aden Allan
                        p Empowered teams create truly amazing products. Set the north star and let them follow it.
            section.section__footer 
                .section__content.container 
                    p Ready to get started?
                    button.btn contact us 
        footer.footer
            .footer__container.container 
                .box__container 
                    .box 
                        a.logo(href="#")
                            img(src="../source/images/logo.svg", alt="logo")
                        nav 
                            ul.nav__list 
                                li.nav__list__item
                                    a(href="#") home
                                li.nav__list__item
                                    a(href="/about page/index.html page/index.html") about
                    .box 
                        nav 
                            ul.nav__list 
                                li.nav__list__item
                                    a(href="#") 987  Hillcrest 
                                li.nav__list__item
                                    a(href="#") LaneIrvine, CA
                                li.nav__list__item
                                    a(href="#") California 92714
                                li.nav__list__item
                                    a(href="#") Call Us : 949-833-7432
                    .box 
                        nav 
                            ul.nav__list 
                                li.nav__list__item
                                    a(href="#") 
                                        img(src="../source/images/icon1.svg", alt="") 
                                    a(href="#")
                                        img(src="../source/images/icon2.svg", alt="")
                                    a(href="#")
                                        img(src="../source/images/icon3.svg", alt="")        
                        p Copyright 2020. All Rights Reserved