$body-font-famil: "Livvic",
sans-serif;
$Midnight-Green: #014e56;
$Light-Color: #f67e7e;
$White: #ffff;
$black:#000;
$Raptuer-BLue: #79c8c7;
$Police-Blue: #2c6269;
$Deep-Jungle-Green: #004047;
$Sacramento-State-Green: #012f34;
$Dark-Green: #002529;

.container {
    margin: 0 auto;
    max-width: 1110px;
    padding: 0 20px;
}

.diroctrs__title{
    text-align: center;
}

.directors__box {
    display: inline-block;
    padding: 30px;
    margin: 15px 10px;
    color: $White;
    width: 30%;
    height: 253px;
    text-align: center;
    background-color: $Sacramento-State-Green;
}

.directors__section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $Police-Blue;
}