/* ! ======= Fonts ======= */

/* Mulish Bold */
@font-face {
    font-family: MulishB;
    font-weight: bold;
    src: url(../fonts/Mulish/Mulish-Bold.ttf);
}

/* Mulish Medium */
@font-face {
    font-family: MulishM;
    font-weight: 700;
    src: url(../fonts/Mulish/Mulish-Medium.ttf);
}

/* Mulish Regular */
@font-face {
    font-family: Mulish;
    font-weight: 500;
    src: url(../fonts/Mulish/Mulish-Regular.ttf);
}