body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish, sans-serif;
  background-color: #E3EEFF;
}

/* ! ======= Fonts ======= */
/* Mulish Bold */
@font-face {
  font-family: MulishB;
  font-weight: bold;
  src: url(../fonts/Mulish/Mulish-Bold.ttf);
}
/* Mulish Medium */
@font-face {
  font-family: MulishM;
  font-weight: 700;
  src: url(../fonts/Mulish/Mulish-Medium.ttf);
}
/* Mulish Regular */
@font-face {
  font-family: Mulish;
  font-weight: 500;
  src: url(../fonts/Mulish/Mulish-Regular.ttf);
}
*:focus {
  outline: 3px solid #F3A53F;
}

*::selection {
  user-select: none;
}

.container {
  width: 100%;
  height: max-content;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  width: 1350px;
}
.container .Sidebar {
  position: relative;
  left: 18px;
  background-color: #fff;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border-top-right-radius: 17px;
  box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.0784313725);
  width: 90px;
  row-gap: 20px;
  height: 750px;
}
.container .Sidebar .Sidebar-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container .Sidebar .Sidebar-img .logo {
  margin-bottom: 20px;
  margin-top: 20px;
}

.center-page {
  background-color: #FCF9F5;
  padding: 15px;
  width: 800px;
  height: max-content;
}
.center-page .center-beetwen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
}
.center-page .center-beetwen .btn-center {
  margin-left: 300px;
}
.center-page .center-beetwen button {
  margin-left: 12px;
  box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.0196078431);
  border: none;
  border: 1px solid #E8E7E7;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
}
.center-page .activity-table {
  border-radius: 12px;
  border: 1px solid #E8E7E7;
  box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.0784313725);
  margin-top: 20px;
  margin-left: 13px;
  width: 629px;
  height: 244px;
  background-color: #fff;
  padding: 10px 25px;
}
.center-page .activity-table .activity-top {
  display: flex;
  justify-content: space-between;
}
.center-page .activity-table .activity-top select {
  text-align: center;
  border: none;
  border: 1px solid #E1E1E1;
  width: 137px;
  height: 48px;
  border-radius: 12px;
}
.center-page .info-bottom {
  width: 679px;
  background-color: #fff;
  height: 48px;
  margin-top: 16px;
  margin-left: 13px;
  border: 1px solid #E8E7E7;
  border-radius: 12px;
  border: 1px solid #E8E7E7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.center-page .info-bottom div:first-child {
  color: #303030;
  font-weight: bold;
}
.center-page .info-bottom div:nth-child(2) {
  width: 111px;
  height: 31px;
  background-color: #D0FBFF;
  border-radius: 8px;
  font-size: 13px;
  padding-top: 5px;
  padding-left: 5px;
}
.center-page .info-bottom div:nth-child(3) {
  color: #383838;
}

i {
  font-size: 30px;
  color: #707070;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}
i:hover {
  background-color: #303030;
  color: white;
}

.all-hover {
  background-color: #303030;
  color: white;
}

.blood-div {
  display: flex;
  gap: 20px;
  margin-left: 14px;
}
.blood-div .blood-card {
  background-color: #fff;
  width: 213px;
  height: 262px;
  box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.0784313725);
  border: 1px solid #E8E7E7;
  border-radius: 12px;
}
.blood-div .blood-card .top-blood {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.blood-div .blood-card .middle-blood {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.blood-div .blood-card .middle-blood h2 {
  font-size: 32px;
}
.blood-div .blood-card .middle-blood p {
  margin-left: 12px;
  color: #818181;
}
.blood-div .blood-card .btn-normal {
  margin-left: 20px;
}
.blood-div .blood-card .btn-normal button {
  border: none;
  width: 58px;
  border-radius: 6px;
  font-weight: bold;
  height: 23px;
  background-color: #F8DEBD;
}

.bmi {
  padding: 20px;
  margin-left: -27px;
  background-color: #303030;
  width: 560px;
  height: max-content;
  border-radius: 35px;
}
.bmi .top-bmi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.bmi .top-bmi h2 {
  color: white;
}
.bmi .top-bmi select {
  width: 157px;
  height: 48px;
  border: 1px solid #CACACA;
  color: white;
  border-radius: 10px;
  text-align: center;
  background-color: #303030;
}
.bmi .three_div {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.bmi .three_div .he-wi-div .height__div {
  width: 187px;
  height: 82px;
  border-radius: 12px;
  background-color: #F8DEBD;
  margin-bottom: 10px;
}
.bmi .three_div .he-wi-div .height__div img {
  margin-left: 40%;
  margin-top: 15px;
}
.bmi .three_div .he-wi-div .height__div .sm-height {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.bmi .three_div .he-wi-div .weight__div {
  width: 187px;
  height: 82px;
  border-radius: 12px;
  background-color: #D0FBFF;
}
.bmi .three_div .he-wi-div .weight__div img {
  margin-left: 40%;
  margin-top: 15px;
}
.bmi .three_div .he-wi-div .weight__div .sm-height {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.bmi .three_div .dot {
  position: absolute;
  margin-top: -20px;
  margin-left: 130px;
}
.bmi .three_div .body-div {
  width: 283px;
  height: 184px;
  border-radius: 12px;
  background: #4A4949;
}
.bmi .three_div .body-div .body-moss-text {
  color: #fff;
  padding-left: 20px;
}
.bmi .three_div .body-div .herz-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bmi .three_div .body-div .herz-div p {
  font-size: 24px;
  color: #fff;
}
.bmi .three_div .body-div .herz-div button {
  border: none;
  width: 101px;
  height: 27px;
  border-radius: 8px;
  background-color: #D6FFDD;
}
.bmi .three_div .body-div .gradient-selector {
  display: flex;
  justify-content: center;
}
.bmi .three_div .body-div .gradient-selector .gradient-uzi {
  width: 243px;
  height: 14px;
  background: linear-gradient(90deg, #B5D4F1 0%, #81E6DB 37.77%, #E8D284 70.4%, #E2798E 100%);
  border-radius: 21px;
}
.bmi .three_div .body-div .number-gradient-bottom {
  display: flex;
  justify-content: space-around;
}
.bmi .three_div .body-div .number-gradient-bottom p {
  color: #fff;
}

.hr-div {
  border: 1px solid #4F4E4E;
  margin-top: 25px;
}

.man-part {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: #fff;
}
.man-part .man-left p {
  color: #CACACA;
}
.man-part .man-left .info-man {
  width: 145px;
  height: 86px;
  border: 1px solid #C4C4C4;
  background: #fff;
  border-radius: 12px;
  margin-top: 15px;
}
.man-part .man-left .info-man p {
  color: #000000;
  font-size: 20px;
  margin-left: 30px;
}
.man-part .man-left .info-man div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -35px;
}
.man-part .man-right .man {
  width: 180px;
  height: 391px;
  background: url(../img/man/Page-1.png) no-repeat;
  background-size: contain;
}
.man-part .man-right .man img {
  margin-left: 41px;
  width: 41.2px;
  height: 21.2px;
}
.man-part .man-right .man .pinterest {
  position: absolute;
  width: 199px;
  margin-left: -120px;
  margin-top: 64px;
  height: 194px;
}

.graph-img {
  background: url(../img/centerPage/Acitivity\ Growth.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 210px;
  margin-top: -20px;
}

/*# sourceMappingURL=main.css.map */
