doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title contact
        //- css link
        link(rel="stylesheet", href="/source/css/atyle.css")
        link(rel="stylesheet", href="./style.css")
    body 
        header.header 
            .header__container.container 
                a.logo(href="#")
                    img(src="../source/images/logo.svg", alt="logo")
                nav 
                    ul.nav__list 
                        li.nav__list__item
                            a(href="../html/index.html") home
                        li.nav__list__item
                            a(href="../about/index.html") about
                        li.nav__list__item
                            a(href="/") contact
                .buttons
                    button contact us
        main.main
            section.container
                .contact__page
                    .contact__left 
                        h1.h1__title contact
                        h2.h2__title Ask us about
                        p.contact__text The quality of our talent network
                        p.contact__text Usage & implementation of our software
                        p.contact__text How we help drive innovation
                    .contact__right
                            input(type="text", name="name", placeholder="name")
                            input(type="text", name="email", placeholder="email adres")
                            input(type="text", name="phone", placeholder="Company Name")
                            input(type="text", name="phone", placeholder="Title")
                            textarea(name="", placeholder="Message") 
                            button submit
        footer.footer
            .footer__container.container 
                .box__container 
                    .box 
                        a.logo(href="#")
                            img(src="../source/images/logo.svg", alt="logo")
                        nav 
                            ul.nav__list 
                                li.nav__list__item
                                    a(href="#") home
                                li.nav__list__item
                                    a(href="/about page/index.html page/index.html") about
                    .box 
                        nav 
                            ul.nav__list 
                                li.nav__list__item
                                    a(href="#") 987  Hillcrest 
                                li.nav__list__item
                                    a(href="#") LaneIrvine, CA
                                li.nav__list__item
                                    a(href="#") California 92714
                                li.nav__list__item
                                    a(href="#") Call Us : 949-833-7432
                    .box 
                        nav 
                            ul.nav__list 
                                li.nav__list__item
                                    a(href="#") 
                                        img(src="../source/images/icon1.svg", alt="") 
                                    a(href="#")
                                        img(src="../source/images/icon2.svg", alt="")
                                    a(href="#")
                                        img(src="../source/images/icon3.svg", alt="")        
                        p Copyright 2020. All Rights Reserved